build/
pc_build/
can_build/
can_service_build/
dds_build/
debug_jpg/
log/
__pycache__/
.venv
.vscode/
*.trt
*.onnx
*.engine
ros_bridge_support_ws/devel/
ros_bridge_support_ws/log
ros_bridge_support_ws/*.mkv
ros_bridge_support_ws/CMakeFiles/
ros_bridge_support_ws/CMakeCache.txt
script/ai_scripts/carla_dataset_generator/data/
script/ai_scripts/LaneATT/data/
script/ai_scripts/LaneATT/datasets/
script/ai_scripts/LaneATT/experiments/
script/ai_scripts/LaneATT/tensorboard/
script/ai_scripts/LaneATT/cache/
script/ai_scripts/LaneATT/lib/nms/dist/

adas_service/**/.metadata/
adas_service/**/.settings/
adas_service/**/.TestScriptData/
adas_service/**/Debug/
adas_service/**/Release/
adas_service/**/*.ii
adas_service/**/*.di
adas_service/**/*.ti
adas_service/**/*.lst
adas_service/**/*.log
adas_service/**/make_errors.txt
adas_service/**/make_log.dat
adas_service/**/test_*/**/*.o
adas_service/**/test_*/**/*.csi
adas_service/**/test_*/**/*.exe
adas_service/**/test_*/**/*.ctg
adas_service/**/test_*/**/*.ctr
adas_service/**/test_*/**/*.cov
adas_service/**/test_*/*.html
adas_service/**/results/test_report.xml
adas_service/summary_report

# unit test logger
adas_service/utils/logger/Makefile
adas_service/utils/logger/ut.cpp
adas_service/utils/logger/*.txt

# static check (cppcheck)
cppcheck_report/

# ROS 2 Carla Bridge Workspace
build/
install/
